body {
  background-color: #f2f2f2;
}

.header {
  text-align: center;
  background-color: #f2f2f2;
  margin-top: 80px;
  margin-bottom: 20px;
}

.btn-danger {
  background-color: white;
  color: #e00000;
}

.equal-space-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.equal-space-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

input, button {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forms {
  border-radius: 30px;
  padding: 30px;
  background-color: white;
  color: #e00000;
}

/* .form-group {
  background-color: white;
  color: #e00000;
} */


/* .UsernameDropdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  padding: 30px;
  background-color: white;
}

#UsernameDropdownHeader {
  text-align: center;
  color: #e00000;
} */

.dashboard {
  font-family: 'Noto Serif JP', serif;
  background-color: #ededed;
  display: grid;
  border: solid 5px black;
  grid-template-columns: 375px 375px 225px 225px;
  grid-template-rows: 100px 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 5px;
  height: auto;
  grid-template-areas: 
  "dashboard dashboard dashboard dashboard"
  "gamelist gamelist standings standings"
  "gamelist gamelist standings standings"
  "gamelist gamelist current-selections current-selections"
  "gamelist gamelist current-selections current-selections";
}

.dashboard-title {
  display: grid;
  background-color: #fff;
  grid-area: dashboard;
  border: 5px solid teal;
  justify-content: center;
  align-items: center;
}

.games {
  display: grid;
  padding: 10px;
  height: auto;
  width: 100%;
  border: 5px solid red;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 1fr 1fr 1fr 1fr;
  border-radius: 3px;
  grid-area: gamelist;
  grid-gap: 10px;
  justify-content: center;
  grid-template-areas: 
  "header header header header header"
  "game-lines game-lines game-lines game-lines game-lines" 
  "games games games games games" 
  "games games games games games" 
  "games games games games games" 
  "games games games games games" 
}

.games-header {
  display: grid;
  font-family: 'Rubik', sans-serif;
  color: #000000;
  background-color: #fff;
  border: 1px solid rosybrown;
  height: 100%;
  grid-area: header;
  align-content: center;
  justify-content: center;
}

.game-lines {
  display: grid;
  grid-area: game-lines;
  margin-right: 20px;
  justify-content: end;
  height: 50px;
  grid-template-columns: 350px 360px;
  grid-template-areas: 
  "blank-space game-line-text"
}

.game-lines-text {
  /* border: 5px solid purple; */
  font-family: 'Rubik', sans-serif;
  color: grey;
  height: 100%;
  margin-left: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: end;
  grid-area: game-line-text;

}

.spread {
}

.money-line {
}

.total {
}

.game-list {
  display: grid;
  padding: 10px;
  grid-gap: 15px;
  height: auto;
  align-content: start;
  grid-area: games;
}

.single-game {
  display: grid;
  background-color: #e3e3e3;
  grid-template-columns: 110px 240px 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 125px;
  grid-template-areas: 
  "single-game-content single-game-content single-game-content single-game-content single-game-content"
  "single-game-content single-game-content single-game-content single-game-content single-game-content"
  "single-game-footer single-game-footer single-game-footer single-game-footer single-game-footer"
}

.single-game-content {
  display: grid;
  grid-area: single-game-content;
  grid-template-areas: 
  "kickoff-time teams spread moneyline totals-line"
  "kickoff-time teams spread moneyline totals-line"
}

.game-time {
  display: grid;
  font-family: 'Rubik', sans-serif;
  color: #404040;
  white-space: pre-wrap;
  text-align: center;
  grid-area: kickoff-time;
  justify-items: center;
  font-size: 12px;
  font-weight: 900;
  align-content: center;
}

.game-teams {
  font-family: 'Rubik', sans-serif;
  color: #404040;
  font-size: 12px;
  background-color: #fff;
  display: grid;
  grid-area: teams;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "away-team"
  "home-team"
}

.game-teams .away-team {
  display: grid;
  align-content: center;
  height: 100%;
  justify-content: center;
  border-bottom: 1px solid #d1d1d1;
  background-color: #fff;
  grid-area: away-team
}

.game-teams .home-team {
  display: grid;
  border: 1px solid green;
  align-content: center;
  height: 100%;
  justify-content: center;
  background-color: #fff;
  grid-area: home-team
}

.game-teams-inner {
  width: 80%;
  justify-self: center;
}

.game-spread {
  display: grid;
  background-color: #fff;
  font-family: 'Rubik', sans-serif;
  border-left: 1px solid #d1d1d1;
  margin-left: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-area: spread;
  font-size: 12px;
  text-align: center;
  align-content: space-around;
}

.game-spread .custom-separator {
  border-bottom: 1px solid #d1d1d1;
  width: 100%;
}

.game-spread :hover {
  background-color: #e3e3e3;
  cursor: pointer;
}

.moneyline {
  display: grid;
  background-color: #fff;

  font-family: 'Rubik', sans-serif;
  border-left: 1px solid #d1d1d1;
  grid-area: moneyline;
  font-size: 12px;
  text-align: center;
  align-content: space-around;
}

.moneyline .custom-separator {
  border-bottom: 1px solid #d1d1d1;
  width: 100%;
}

.totals-line {
  display: grid;
  background-color: #fff;
  font-family: 'Rubik', sans-serif;
  border-left: 1px solid #d1d1d1;
  grid-area: totals-line;
  font-size: 12px;
  text-align: center;
  align-content: space-around;
}

.totals-line .custom-separator {
  border-bottom: 1px solid #d1d1d1;
  width: 100%;
}

.totals-line :hover {
  background-color: #e3e3e3;
  cursor: pointer;
}

.single-game-footer {
  display: flex;
  padding-left: 10px;
  background-color: #fff;
  font-size: 11px;
  font-family: 'Rubik', sans-serif;
  color: #404040;
  background-color: #e3e3e3;
  grid-area: single-game-footer;
  align-items: center;
}

.bolded-city {
  font-weight: 900;
}

.standings {
  display: grid;
  background-color: #fff;
  border: 5px solid blue;
  border-radius: 3px;
  height: 100px;
  grid-area: standings;
  justify-content: center;
}

.current-selections {
  display: grid;
  background-color: #fff;
  border: 5px solid blue;
  border-radius: 3px;
  height: 100px;
  grid-area: current-selections;
  justify-content: center;
}


